// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #009342;
$light-gray: #F4F4F4;

// skl
$azul_skl: #172170;
$rojo_skl: #FD0002;
$verde_skl: #009342;
$gold: $orange;
$whity:$light-gray;
$blackletter: $orange;
